@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Open+Sans&display=swap');

$primary-color: #b0cc3a;
$secondary-color: #d01518;
$background-color: #f5f5f5;
$nav-background: rgba(0, 0, 0, 0.5);
$navbar-hover-color: #77a42c;

$font-text: 'Open Sans', sans-serif;
$font-title: 'Abril Fatface', cursive;

$text-color-primary: #000;
$text-color-secondary: #fff;

$h2-font-size: calc(14px + (20 - 14) * ((100vw - 300px) / (1600 - 300)));
$h3-font-size: calc(12px + (16 - 12) * ((100vw - 300px) / (1600 - 300)));
$p-font-size: calc(10px + (12 - 10) * ((100vw - 300px) / (1600 - 300)));